#home{
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
    background-attachment: fixed;
}

#link:hover{
    color:rgb(255, 251, 0);
    font-size: 20px;
}

#esconder{
    visibility: hidden;
}

#circle{
    background-color: #00000080;
    border-radius: 50%;
    margin: auto;
    margin-top: 3rem;
}

#circle:hover{
    background-color: #303030;
}

#hover:hover{
    visibility:hidden; 
}


@media screen and (max-width: 500px) {
    #col2{
        margin-top: 0;
    }
    
}